#n1{
    width: 100%;
    height: 200px;
    background-color: #f0f0f0;  
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding-right: 20px;
}

/* Buttons */
#b1,#b2,#b3{
    letter-spacing: 2px;
    width: 100px;
    height: 60px;
    border: none;
}

/* Hover */
#b1:hover,#b2:hover,#b3:hover{
    background-color: #dedede;
    cursor: pointer;
}

/* 🔥 Mobile (Correct way) */
@media (max-width: 768px) {

    #n1{
        height: 100px;
        justify-content: center; /* center buttons */
    }

    #b1,#b2,#b3{
        width: 60px;
        height: 50px;
        font-size: 12px;
        margin-top: 10px;
        border-radius: 5px;
        box-shadow: 0 0 2px black;
    }
}